@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
/* line 1, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/base/_base.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/base/_base.scss */
body {
  font-family: Poppins, sans-serif;
  color: #333645;
  background: white;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?2tcgn9");
  src: url("../fonts/icomoon.eot?2tcgn9#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?2tcgn9") format("truetype"), url("../fonts/icomoon.woff?2tcgn9") format("woff"), url("../fonts/icomoon.svg?2tcgn9#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* line 15, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/base/_fonts.scss */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 29, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/base/_fonts.scss */
.rating {
  color: gold;
  font-size: 24px;
}

/* line 3, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/components/_buttons.scss */
[class$="-btn"] {
  font-family: inherit;
}

/* line 9, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/components/_buttons.scss */
.header-btn-lrg, .support-btn, .contact-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  height: 60px;
  padding: 8px 16px;
  font-size: 24px;
  text-transform: uppercase;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

/* line 22, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/components/_buttons.scss */
.support-btn {
  background: #4183d7;
  border: 2px solid #4183d7;
}

/* line 28, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/components/_buttons.scss */
.contact-btn {
  background: #999AA2;
  border: 2px solid #999AA2;
}

/* line 34, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/components/_buttons.scss */
.support-btn:hover {
  background: #286abd;
  border-color: #286abd;
}

/* line 39, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/components/_buttons.scss */
.contact-btn:hover {
  background: #7e808a;
  border-color: #7e808a;
}

/* line 44, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/components/_buttons.scss */
.header-btn-sml, .search-btn, .sidebar-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  height: 60px;
  padding: 8px 16px;
  font-size: 24px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

/* line 56, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/components/_buttons.scss */
input[type="search"] {
  padding: 10px;
  border: 1px solid #999AA2;
  font-size: 16px;
  height: 60px;
}

/* line 63, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/components/_buttons.scss */
.search-btn {
  background: #999AA2;
  border: 2px solid #999AA2;
}

/* line 69, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/components/_buttons.scss */
.sidebar-btn {
  background: #333645;
  border: 2px solid #333645;
}

/* line 75, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/components/_buttons.scss */
.search-btn:hover {
  background: #7e808a;
  border-color: #7e808a;
}

/* line 80, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/components/_buttons.scss */
.sidebar-btn:hover {
  background: #1d1f28;
  border-color: #1d1f28;
}

/* line 1, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/components/_icons.scss */
.support-icon::before {
  content: "\ea09";
  font-family: 'icomoon';
  display: inline-block;
}

/* line 7, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/components/_icons.scss */
.contact-icon::before {
  content: "\e942";
  font-family: 'icomoon';
  display: inline-block;
}

/* line 13, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/components/_icons.scss */
.search-icon::before {
  content: "\e986";
  font-family: 'icomoon';
  display: inline-block;
}

/* line 19, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/components/_icons.scss */
.sidebar-icon::before {
  content: "\e9bd";
  font-family: 'icomoon';
  display: inline-block;
}

/* line 25, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/components/_icons.scss */
.consultancy-icon::before {
  content: "\e957";
  font-family: 'icomoon';
  display: inline-block;
}

/* line 31, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/components/_icons.scss */
.it-icon::before {
  content: "\e956";
  font-family: 'icomoon';
  display: inline-block;
}

/* line 37, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/components/_icons.scss */
.marketing-icon::before {
  content: "\e99c";
  font-family: 'icomoon';
  display: inline-block;
}

/* line 43, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/components/_icons.scss */
.telecoms-icon::before {
  content: "\e943";
  font-family: 'icomoon';
  display: inline-block;
}

/* line 49, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/components/_icons.scss */
.web-icon::before {
  content: "\ea80";
  font-family: 'icomoon';
  display: inline-block;
}

/* line 55, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/components/_icons.scss */
.security-icon::before {
  content: "\e9b4";
  font-family: 'icomoon';
  display: inline-block;
}

/* line 61, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/components/_icons.scss */
.developer-icon::before {
  content: "\e912";
  font-family: 'icomoon';
  display: inline-block;
}

/* line 67, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/components/_icons.scss */
.telecoms-icon::before {
  content: "\e943";
  font-family: 'icomoon';
  display: inline-block;
}

/* line 73, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/components/_icons.scss */
.fb-icon::before {
  content: "\ea90";
  font-family: 'icomoon';
  display: inline-block;
}

/* line 79, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/components/_icons.scss */
.in-icon::before {
  content: "\eaca";
  font-family: 'icomoon';
  display: inline-block;
}

/* line 85, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/components/_icons.scss */
.x-icon::before {
  content: "\ea96";
  font-family: 'icomoon';
  display: inline-block;
}

/* line 91, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/components/_icons.scss */
.ig-icon::before {
  content: "\ea92";
  font-family: 'icomoon';
  display: inline-block;
}

/* line 98, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/components/_icons.scss */
.serv_list .consultancy-icon {
  color: #67809f;
}

/* line 102, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/components/_icons.scss */
.serv_list .it-icon {
  color: #4183d7;
}

/* line 106, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/components/_icons.scss */
.serv_list .marketing-icon {
  color: #4caf50;
}

/* line 110, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/components/_icons.scss */
.serv_list .telecoms-icon {
  color: #ce4125;
}

/* line 114, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/components/_icons.scss */
.serv_list .web-icon {
  color: #926fb1;
}

/* line 118, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/components/_icons.scss */
.serv_list .security-icon {
  color: #f5255a;
}

/* line 122, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/components/_icons.scss */
.serv_list .developer-icon {
  color: #ce4125;
}

/* line 126, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/components/_icons.scss */
.serv_list li:hover .icon {
  color: white;
}

/* line 1, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_footer.scss */
footer {
  background-color: #202330;
  color: white;
}

/* line 6, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_footer.scss */
footer p {
  margin: 0;
  padding: 10px;
  text-align: left;
  font-size: 14px;
}

/* line 12, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_footer.scss */
footer p a {
  color: white;
  text-decoration: none;
}

/* line 17, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_footer.scss */
footer p a:hover {
  text-decoration: underline;
}

/* line 22, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_footer.scss */
.contact-us {
  background-color: #333645;
  color: white;
  margin: 0;
  padding: 50px 20px;
}

/* line 29, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_footer.scss */
.contact-us a {
  color: white;
  text-decoration: none;
}

/* line 34, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_footer.scss */
.contact-us a:hover {
  text-decoration: underline;
}

/* line 38, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_footer.scss */
.footer-container {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.4fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  align-items: start;
}

/* line 47, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_footer.scss */
.footer-logo {
  max-width: 320px;
  width: 100%;
  display: block;
  margin-bottom: 35px;
}

/* line 54, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_footer.scss */
.contact-us h3 {
  font-size: 17px;
  font-weight: 600;
  margin: 0 0 25px;
}

/* line 60, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_footer.scss */
.footer-nav ul,
.social-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 67, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_footer.scss */
.footer-nav a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.4;
}

/* line 74, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_footer.scss */
.footer-nav a:hover {
  text-decoration: underline;
}

/* line 78, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_footer.scss */
.social-links {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

/* line 84, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_footer.scss */
.social-links li {
  margin: 0;
}

/* line 88, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_footer.scss */
.social-links a {
  font-size: 25px;
  width: 60px;
  height: 60px;
  background: #202330;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

/* line 99, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_footer.scss */
.social-links .fb-btn:hover {
  background-color: #1877F2;
}

/* line 103, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_footer.scss */
.social-links .in-btn:hover {
  background-color: #0A66C2;
}

/* line 107, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_footer.scss */
.social-links .x-btn:hover {
  background-color: #1DA1F2;
}

/* line 111, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_footer.scss */
.social-links .ig-btn:hover {
  background-color: #E4405F;
}

/* line 1, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_header.scss */
.title-bar {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 8px 16px;
}

/* line 8, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_header.scss */
.title-bar form {
  display: flex;
  align-items: center;
}

/* line 15, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_header.scss */
.serv_panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 0;
  height: auto;
  color: white;
  text-transform: uppercase;
  background-color: #333645;
  min-width: 320px;
  max-width: 100%;
}

/* line 30, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_header.scss */
.serv_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* line 40, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_header.scss */
.serv_list li {
  flex: 1;
  padding: .3rem;
  padding-bottom: 0.8rem;
}

/* line 46, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_header.scss */
.serv_list li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  text-decoration: none;
  color: inherit;
  height: 100%;
}

/* line 58, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_header.scss */
.serv_list .icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 2.5rem;
  margin-bottom: 0.2rem;
  font-size: 1.6rem;
  line-height: 1;
}

/* line 68, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_header.scss */
.serv_list .small {
  display: block;
  margin-bottom: 0.1rem;
  font-size: 0.7rem;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.1;
}

/* line 77, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_header.scss */
.serv_list .large {
  display: block;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
}

/* line 84, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_header.scss */
.consultancy-tab:hover {
  background-color: #67809f;
}

/* line 88, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_header.scss */
.it-tab:hover {
  background-color: #4183d7;
}

/* line 92, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_header.scss */
.marketing-tab:hover {
  background-color: #4caf50;
}

/* line 96, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_header.scss */
.telecoms-tab:hover {
  background-color: #ce4125;
}

/* line 100, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_header.scss */
.web-tab:hover {
  background-color: #926fb1;
}

/* line 104, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_header.scss */
.security-tab:hover {
  background-color: #f5255a;
}

/* line 108, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_header.scss */
.developer-tab:hover {
  background-color: #ce4125;
}

/* line 1, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_main-carousel.scss */
.main-carousel input {
  display: none;
}

/* line 5, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_main-carousel.scss */
.main-carousel {
  height: 550px;
}

/* line 9, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_main-carousel.scss */
.slides {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

/* line 16, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_main-carousel.scss */
.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 60px 10% 20px;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  opacity: 0;
  visibility: hidden;
}

/* line 30, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_main-carousel.scss */
#slide1:checked ~ .slides .slide:nth-child(1),
#slide2:checked ~ .slides .slide:nth-child(2),
#slide3:checked ~ .slides .slide:nth-child(3),
#slide4:checked ~ .slides .slide:nth-child(4),
#slide5:checked ~ .slides .slide:nth-child(5),
#slide6:checked ~ .slides .slide:nth-child(6),
#slide7:checked ~ .slides .slide:nth-child(7) {
  opacity: 1;
  visibility: visible;
}

/* line 41, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_main-carousel.scss */
.slide-content {
  color: white;
}

/* line 45, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_main-carousel.scss */
.slide-content h1 {
  max-width: 1000px;
  font-size: 64px;
  line-height: 1.08;
  font-weight: 800;
  margin-bottom: 1.5rem;
}

/* line 53, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_main-carousel.scss */
.slide-content p {
  max-width: 700px;
  font-size: 27px;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 2rem;
}

/* line 61, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_main-carousel.scss */
.slide-btn {
  display: inline-block;
  gap: 14x;
  padding: 16px 28px;
  color: white;
  text-decoration: none;
  font-weight: 700;
  border-radius: 4px;
}

/* line 71, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_main-carousel.scss */
.slide-btn:hover {
  filter: brightness(0.95);
}

/* line 75, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_main-carousel.scss */
#slide1:checked ~ .slides .slide:nth-child(1) .slide-btn {
  background: #926fb1;
}

/* line 79, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_main-carousel.scss */
#slide2:checked ~ .slides .slide:nth-child(2) .slide-btn {
  background: #f7b322;
}

/* line 83, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_main-carousel.scss */
#slide3:checked ~ .slides .slide:nth-child(3) .slide-btn {
  background: #4183d7;
}

/* line 87, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_main-carousel.scss */
#slide4:checked ~ .slides .slide:nth-child(4) .slide-btn {
  background: #4caf50;
}

/* line 91, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_main-carousel.scss */
#slide5:checked ~ .slides .slide:nth-child(5) .slide-btn {
  background: #ce4125;
}

/* line 95, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_main-carousel.scss */
#slide6:checked ~ .slides .slide:nth-child(6) .slide-btn {
  background: #926fb1;
}

/* line 99, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_main-carousel.scss */
#slide7:checked ~ .slides .slide:nth-child(7) .slide-btn {
  background: #f5255a;
}

/* line 103, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_main-carousel.scss */
.slide-btn:hover {
  background-color: #a373ca;
}

/* line 107, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_main-carousel.scss */
.dots {
  position: absolute;
  bottom: 115px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 2;
  gap: 20px;
  margin-top: auto;
}

/* line 118, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_main-carousel.scss */
.dot {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: none;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

/* line 127, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_main-carousel.scss */
#slide1:checked ~ .dots label[for="slide1"],
#slide2:checked ~ .dots label[for="slide2"],
#slide3:checked ~ .dots label[for="slide3"],
#slide4:checked ~ .dots label[for="slide4"],
#slide5:checked ~ .dots label[for="slide5"],
#slide6:checked ~ .dots label[for="slide6"],
#slide7:checked ~ .dots label[for="slide7"] {
  background: white;
}

/* line 1, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_services.scss */
.services-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}

/* line 9, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_services.scss */
.services-header h1 {
  font-size: 3rem;
  font-weight: 100;
  margin: 0;
}

/* line 15, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_services.scss */
.services-header a {
  text-decoration: none;
  font-weight: 500;
  font-size: 2.5rem;
}

/* line 21, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_services.scss */
.services-header a:hover {
  text-decoration: underline;
}

/* line 25, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_services.scss */
.services-header a:visited {
  color: #333645;
}

/* line 29, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_services.scss */
.services {
  padding: 50px 150px;
  background: #f4f4f4;
}

/* line 34, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_services.scss */
.services-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  max-width: 1400px;
  margin: 0 auto;
  gap: 30px;
}

/* line 44, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_services.scss */
.services-container > div:not(.services-header) {
  background: white;
  border: 1px solid #999AA2;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  padding: 35px 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 250px;
  max-width: 300px;
}

/* line 58, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_services.scss */
.services-container > div span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  color: white;
}

/* line 70, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_services.scss */
.services-container > div:not(.services-header):hover {
  transform: translateY(-8px);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

/* line 76, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_services.scss */
.services-container > div h2 {
  margin: 10px 0 18px;
  font-size: 1.9rem;
  line-height: 1.2;
}

/* line 82, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_services.scss */
.services-container > div p {
  margin: 0 0 28px;
  font-size: 1rem;
  line-height: 1.7;
}

/* line 88, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_services.scss */
.reg-btn {
  border: none;
  padding: 14px 24px;
  border-radius: 4px;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}

/* line 98, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_services.scss */
.consultancy-service .consultancy-icon {
  background: #67809f;
}

/* line 102, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_services.scss */
.consultancy-service .reg-btn {
  background: #f7b322;
}

/* line 106, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_services.scss */
.it-service .it-icon,
.it-service .reg-btn {
  background: #4183d7;
}

/* line 112, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_services.scss */
.marketing-service .marketing-icon,
.marketing-service .reg-btn {
  background: #4caf50;
}

/* line 117, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_services.scss */
.telecoms-service .telecoms-icon,
.telecoms-service .reg-btn {
  background: #ce4125;
}

/* line 122, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_services.scss */
.web-service .web-icon,
.web-service .reg-btn {
  background: #926fb1;
}

/* line 127, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_services.scss */
.security-service .security-icon,
.security-service .reg-btn {
  background: #f5255a;
}

/* line 132, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_services.scss */
.developer-service .developer-icon,
.developer-service .reg-btn {
  background: #ce4125;
}

/* line 1, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_award-slider.scss */
.view-our-work {
  width: 100%;
  background-color: #f4f4f4;
  padding: 0 20px 50px;
}

/* line 6, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/abstracts/_mixins.scss */
.view-our-work .container {
  width: 100%;
  margin: 0 auto;
}

/* line 11, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/abstracts/_mixins.scss */
.view-our-work .slider {
  overflow: hidden;
  width: 100%;
}

/* line 16, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/abstracts/_mixins.scss */
.view-our-work .slider-track {
  display: flex;
  gap: 80px;
  width: max-content;
  animation: scroll 20s steps(6) infinite;
}

/* line 5, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_award-slider.scss */
.view-our-work .slider-item {
  position: relative;
  height: 75px;
}

/* line 10, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_award-slider.scss */
.view-our-work .slider-item img {
  height: 100%;
  display: block;
}

/* line 15, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_award-slider.scss */
.view-our-work .award-colour {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

/* line 22, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_award-slider.scss */
.view-our-work .slider-item:hover .award-colour {
  opacity: 1;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* line 1, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_company-slider.scss */
.company-slider {
  width: 100%;
  background-color: #f4f4f4;
  padding: 0 20px 50px;
}

/* line 6, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/abstracts/_mixins.scss */
.company-slider .container {
  width: 100%;
  margin: 0 auto;
}

/* line 11, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/abstracts/_mixins.scss */
.company-slider .slider {
  overflow: hidden;
  width: 100%;
}

/* line 16, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/abstracts/_mixins.scss */
.company-slider .slider-track {
  display: flex;
  gap: 80px;
  width: max-content;
  animation: scroll 20s steps(6) infinite;
}

/* line 5, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_company-slider.scss */
.company-slider img {
  height: 65px;
  filter: grayscale(100%);
}

/* line 10, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_company-slider.scss */
.company-slider img:hover {
  filter: grayscale(0%);
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* line 1, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_welcome.scss */
.welcome {
  background: #333645;
  color: white;
  padding: 25px;
  padding-bottom: 50px;
}

/* line 8, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_welcome.scss */
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 50px;
}

/* line 15, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_welcome.scss */
.left, .right {
  flex: 1;
}

/* line 19, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_welcome.scss */
h1, h2 {
  font-size: 35px;
  margin-bottom: 30px;
}

/* line 24, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_welcome.scss */
p {
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 25px;
}

/* line 30, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_welcome.scss */
.bold {
  font-weight: bold;
}

/* line 34, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_welcome.scss */
.quote {
  font-style: italic;
  font-weight: bold;
  font-size: 22px;
}

/* line 40, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_welcome.scss */
.author {
  color: grey;
}

/* line 44, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_welcome.scss */
.stars {
  color: gold;
  font-size: 50px;
  margin-bottom: 25px;
}

/* line 50, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_welcome.scss */
.buttons {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 30px;
}

/* line 57, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_welcome.scss */
.btn {
  border: none;
  padding: 18px 28px;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

/* line 66, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_welcome.scss */
.btn:hover {
  filter: brightness(0.9);
}

/* line 70, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_welcome.scss */
.welcome a {
  color: white;
  text-decoration: none;
}

/* line 75, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_welcome.scss */
.welcome a:hover {
  text-decoration: underline;
}

/* line 79, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_welcome.scss */
.dark {
  background: #202330;
}

/* line 83, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_welcome.scss */
.blue {
  background: #4183d7;
}

/* line 87, ../../../../../Users/jonathanconnell/Documents/HTML & CSS Assessment/scss/layout/_welcome.scss */
.green {
  background: #4caf50;
}

/*# sourceMappingURL=style.css.map */