

// Spacing
$container-padding: 1rem;
$max-width: 1200px;

$light-blue: #4183d7;
$grey: #999AA2;
$steel-blue: #67809f;
$dark-blue: #333645;
$purple: #926fb1;
$yellow: #f7b322;
$light-green: #4caf50;
$light-red: #d64541;
$dark-red: #ce4125;

$font-main: Poppins, sans-serif;

$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;

