.view-our-work {
    @include slider();
}

.view-our-work .slider-item {
    position: relative;
    height: 75px;
}

.view-our-work .slider-item img {
    height: 100%;
    display: block;
}

.view-our-work .award-colour {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.view-our-work .slider-item:hover .award-colour {
    opacity: 1;
}