.services {
    padding: 50px 50px;
    background: $off-white;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    max-width: 1400px;
    justify-content: space-around;
    margin: 0 auto;
    gap: 30px;
}

.services-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex: 0 0 100%;
    margin-bottom: 40px;
}

.services-header h1 {
    font-size: 3rem;
    font-weight: 100;
    margin: 0;
}

.vow {
    text-decoration: none;
    font-weight: 500;
    font-size: 2.5rem;
}

.vow:hover {
    text-decoration: underline;
}

.vow:visited {
    color: $dark-blue;
}

.vow-bottom {
    display: none;
}

@media (max-width: 767px) {
    .vow-top {
        display: none;
    }

    .vow-bottom {
        display: inline-block;
    }
}

.services-container > .service-card {
    background: white;
    border: 1px solid $grey;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    padding: 35px 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 250px;
}

.services-container > div span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    color: white;
}

.services-container > div:not(.services-header):hover {
    transform: translateY(-8px);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

.services-container > div h2 {
    margin: 15px 0 18px;
    font-size: 1.25rem;
    line-height: 1.2;
}

.services-container > div p {
    margin: 0 0 28px;
    font-size: 0.85rem;
    line-height: 1.7;
}

.reg-btn {
    border: none;
    padding: 14px 24px;
    border-radius: 4px;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
}

.consultancy-service .consultancy-icon {
    background: $steel-blue;
}

.consultancy-service .reg-btn {
    background: $yellow;
}

.it-service .it-icon,
.it-service .reg-btn {
    background: $light-blue;
}


.marketing-service .marketing-icon,
.marketing-service .reg-btn {
    background: $light-green;
}

.telecoms-service .telecoms-icon,
.telecoms-service .reg-btn {
    background: $dark-red;
}

.web-service .web-icon,
.web-service .reg-btn {
    background: $purple;
}

.security-service .security-icon,
.security-service .reg-btn {
    background: $light-red;
}

.developer-service .developer-icon,
.developer-service .reg-btn {
    background: $dark-red;
}

