// Use main font for all buttons

[class$="-btn"] {
    font-family: inherit;
}

// Header Buttons

.support-btn {
    @include button($light-blue, 16px, 60px);
    background: $light-blue;
    border: 2px solid $light-blue;
}

.contact-btn {
    @include button($grey, 16px, 60px);
    background: $grey;
    border: 2px solid $grey;
}

input[type="search"] {
    padding: 10px;
    border: 1px solid $grey;
    font-size: 16px;
    height: 60px;
}


.search-btn {
    @include button($grey, 16px, 60px);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: $grey;
    border: 2px solid $grey;
}

.search-btn:hover {
    background: darken($grey, 10%);
    border-color: darken($grey, 10%);
}

.sidebar-btn {
    @include button($dark-blue, 16px, 60px);
    background: $dark-blue;
    border: 2px solid $dark-blue;
}

.sidebar-btn:hover {
    background: darken($dark-blue, 10%);
    border-color: darken($dark-blue, 10%);
}

// Main Carousel Buttons

.slide-btn {
    @include button($purple, 28px, 60px);
}

// Service Card Buttons

// Welcome Buttons

.welcome-btn {
    @include button($midnight-blue, 28px, 60px);
}

.google-btn {
    @include button($light-blue, 28px, 60px);
}

.trustpilot-btn {
    @include button($light-green, 28px, 60px);
}

// News Card Buttons

.news-card__btn {
    @include button($yellow, 16px, 50px, 16px);
    display: inline-block;
    align-self: flex-start;
    margin-bottom: 36px;

    &:hover {
        background: $yellow;
    }
}

.news-card-career__btn {
    @include button($light-blue, 16px, 50px, 16px);
    display: inline-block;
    align-self: flex-start;
    margin-bottom: 36px;

    &:hover {
        background: $light-blue;
    }
}


