// Use main font for all buttons

[class$="-btn"] {
    font-family: inherit;
}

// Header Buttons

.header-btn-lrg {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    height: 60px;
    padding: $spacing-sm $spacing-md;
    font-size: 24px;
    text-transform: uppercase;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.support-btn {
    @extend .header-btn-lrg;
    background: $light-blue;
    border: 2px solid $light-blue;
}

.contact-btn {
    @extend .header-btn-lrg;
    background: $grey;
    border: 2px solid $grey;
}

.support-btn:hover {
    background: darken($light-blue, 10%);
    border-color: darken($light-blue, 10%);
}

.contact-btn:hover {
    background: darken($grey, 10%);
    border-color: darken($grey, 10%);
}

.header-btn-sml {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    height: 60px;
    padding: $spacing-sm $spacing-md;
    font-size: 24px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

input[type="search"] {
    padding: 10px;
    border: 1px solid $grey;
    font-size: 16px;
    height: 60px;
}

.search-btn {
    @extend .header-btn-sml;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: $grey;
    border: 2px solid $grey;
}

.search-btn:hover {
    background: darken($grey, 10%);
    border-color: darken($grey, 10%);
}

.sidebar-btn {
    @extend .header-btn-sml;
    background: $dark-blue;
    border: 2px solid $dark-blue;
}

.sidebar-btn:hover {
    background: darken($dark-blue, 10%);
    border-color: darken($dark-blue, 10%);
}

// Services Panel Buttons


