.support-icon::before {
  content: "\ea09";
  font-family: 'icomoon';
  display: inline-block;
}

.contact-icon::before {
  content: "\e942";
  font-family: 'icomoon';
  display: inline-block;
}

.search-icon::before {
  content: "\e986";
  font-family: 'icomoon';
  display: inline-block;
}

.sidebar-icon::before {
  content: "\e9bd";
  font-family: 'icomoon';
  display: inline-block;
}

.consultancy-icon::before {
  content: "\e957";
  font-family: 'icomoon';
  display: inline-block;
}

.it-icon::before {
  content: "\e956";
  font-family: 'icomoon';
  display: inline-block;
}

.marketing-icon::before {
  content: "\e99c";
  font-family: 'icomoon';
  display: inline-block;
}

.telecoms-icon::before {
  content: "\e943";
  font-family: 'icomoon';
  display: inline-block;
}

.web-icon::before {
  content: "\ea80";
  font-family: 'icomoon';
  display: inline-block;
}

.security-icon::before {
  content: "\e9b4";
  font-family: 'icomoon';
  display: inline-block;
}

.developer-icon::before {
  content: "\e912";
  font-family: 'icomoon';
  display: inline-block;
}

.telecoms-icon::before {
  content: "\e943";
  font-family: 'icomoon';
  display: inline-block;
}

.fb-icon::before {
  content: "\ea90";
  font-family: 'icomoon';
  display: inline-block;
}

.in-icon::before {
  content: "\eaca";
  font-family: 'icomoon';
  display: inline-block;
}

.x-icon::before {
  content: "\ea96";
  font-family: 'icomoon';
  display: inline-block;
}

.ig-icon::before {
  content: "\ea92";
  font-family: 'icomoon';
  display: inline-block;
}