@mixin slider() {
    width: 100%;
    background-color: $off-white;
    padding: 0 20px 50px;

    .container {
        width: 100%;
        margin: 0 auto;
    }

    .slider {
        overflow: hidden;
        width: 100%;
    }

    .slider-track {
        display: flex;
        gap: 80px;
        width: max-content;
        animation: scroll 20s steps(6) infinite;
    }
}

@mixin button($bg-color,$width, $height, $font-size: 20px) {
    background-color: $bg-color;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    height: $height;
    padding: 16px $width;
    font-size: $font-size;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background: darken($bg-color, 10%);
        border-color: darken($bg-color, 10%);
    }
}
