$light-blue: #4183d7;
$grey: #999AA2;
$steel-blue: #67809f;
$dark-blue: #333645;
$purple: #926fb1;
$yellow: #f7b322;
$light-green: #4caf50;
$light-red: #f5255a;
$dark-red: #ce4125;

$font-main: Poppins, sans-serif;

$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;

$consultancy-color: $steel-blue;
$it-color: $light-blue;
$marketing-color: $light-green;
$telecoms-color: $dark-red;
$web-color: $purple;
$security-color: $light-red;
$developer-color: $dark-red;