$light-blue: #4183d7;
$light-grey: #e6e7e9;
$grey: #999AA2;
$dark-grey: #6A6C6E;
$steel-blue: #67809f;
$dark-blue: #333645;
$midnight-blue: #202330;
$purple: #926fb1;
$yellow: #f7b322;
$light-green: #4caf50;
$light-red: #f5255a;
$dark-red: #ce4125;
$off-white: #f4f4f4;

$font-main: Poppins, sans-serif;

$consultancy-color: $steel-blue;
$it-color: $light-blue;
$marketing-color: $light-green;
$telecoms-color: $dark-red;
$web-color: $purple;
$security-color: $light-red;
$developer-color: $dark-red;